backend:
  name: git-gateway
  branch: main # Vérifie que c'est bien "main" sur ton GitHub

media_folder: "uploads"
public_folder: "uploads"

# Langue de l'interface
locale: "fr"

collections:
  - name: "data"
    label: "Configuration"
    files:
      - name: "randos"
        label: "Mes Randonnées"
        label_singular: "Randonnée"
        file: "randos.json"
        # On affiche juste le titre dans la liste (la date sera sur le site)
        summary: "{{fields.title}}" 
        fields:
          - label: "Liste des randonnées"
            name: "items"
            widget: "list"
            collapsed: false
            fields:
              # 1. Le Titre
              - label: "Titre de la sortie"
                name: "title"
                widget: "string"
                required: true

              # 2. Difficulté (On garde ça, c'est utile !)
              - label: "Niveau de difficulté"
                name: "difficulty"
                widget: "select"
                options: ["Facile", "Moyenne", "Difficile", "Expert"]
                default: "Moyenne"
                required: false

              # 3. Description
              - label: "Description détaillée"
                name: "description"
                widget: "text"
                required: true

              # 4. Fichier GPX
              - label: "Fichier GPX"
                name: "gpx"
                widget: "file"
                allowed_extensions: ["gpx"]
                required: true
                hint: "Le site lira automatiquement la date et la distance depuis ce fichier."

              # 5. Photos
              - label: "Galerie Photos"
                name: "photos"
                widget: "list"
                summary: "{{fields.image}}"
                field: {label: "Image", name: "image", widget: "image", choose_url: false}
                hint: "⚠️ La 1ère photo servira de miniature."