backend:
  name: git-gateway
  branch: main # Ou "master", vérifie ton github

# --- CONFIGURATION CLOUDINARY ---
media_library:
  name: cloudinary
  output_filename_only: false # IMPORTANT : Pour avoir l'URL complète (https://...)
  config:
    cloud_name: "dkbulsjyo"
    api_key: "551519669678153"
    default_transformations:
      - [width: 1600, quality: "auto", fetch_format: "auto"]

# Langue
locale: "fr"

collections:
  - name: "data"
    label: "Configuration"
    files:
      - name: "randos"
        label: "Mes Randonnées"
        label_singular: "Randonnée"
        file: "randos.json"
        summary: "{{fields.title}}" 
        fields:
          - label: "Liste des randonnées"
            name: "items"
            widget: "list"
            collapsed: false
            minimize_collapsed: true
            fields:
              # 1. Le Titre
              - label: "Titre de la sortie"
                name: "title"
                widget: "string"
                required: true

              # 2. Difficulté
              - label: "Niveau de difficulté"
                name: "difficulty"
                widget: "select"
                options: ["Facile", "Moyenne", "Difficile", "Expert"]
                default: "Moyenne"
                required: false

              # 3. Description
              - label: "Récit de l'aventure"
                name: "description"
                widget: "markdown"
                buttons: ["bold", "italic", "link", "bulleted-list"]
                editor_components: []
                modes: ["rich_text"]
                required: true

              # 4. Fichier GPX
              - label: "Fichier GPX"
                name: "gpx"
                widget: "file"
                allowed_extensions: ["gpx"]
                required: true

              # 5. Photos (LISTE D'IMAGES CLOUDINARY)
              - label: "Galerie Photos"
                name: "photos"
                widget: "list"
                collapsed: false
                summary: "{{fields.image}}"
                fields:
                  - label: "Photo"
                    name: "image"
                    widget: "image"
                    choose_url: false # Force l'upload via Cloudinary