backend:
  name: git-gateway
  branch: main # Vérifiez bien que c'est "main" ou "master" sur GitHub

media_folder: "uploads"
public_folder: "uploads"

# Langue de l'interface (si le navigateur est en FR, ça devrait suivre, mais on force les labels)
locale: "fr"

collections:
  - name: "data"
    label: "Configuration"
    files:
      - name: "randos"
        label: "Mes Randonnées"
        label_singular: "Randonnée" # Pour le bouton "Nouvelle Randonnée"
        file: "randos.json"
        fields:
          - label: "Liste des randonnées"
            name: "items"
            widget: "list"
            collapsed: false # Ouvre la liste par défaut (plus pratique)
            summary: "{{fields.title}} - {{fields.date}}" # Affiche le Titre et la Date dans la liste pliée !
            fields:
              # 1. Le Titre
              - label: "Titre de la sortie"
                name: "title"
                widget: "string"
                required: true

              # 2. La Date (Nouveau !)
              - label: "Date de la sortie"
                name: "date"
                widget: "datetime"
                format: "YYYY-MM-DD"
                date_format: "DD/MM/YYYY"
                time_format: false
                default: ""

              # 3. Difficulté (Nouveau ! Menu déroulant)
              - label: "Niveau de difficulté"
                name: "difficulty"
                widget: "select"
                options: ["Facile", "Moyenne", "Difficile", "Expert"]
                default: "Moyenne"
                required: false

              # 4. Description
              - label: "Description détaillée"
                name: "description"
                widget: "text"
                required: true

              # 5. Fichier GPX
              - label: "Fichier GPX"
                name: "gpx"
                widget: "file"
                allowed_extensions: ["gpx"]
                required: true
                hint: "Téléchargez le fichier .gpx exporté de votre montre ou Strava."

              # 6. Photos
              - label: "Galerie Photos"
                name: "photos"
                widget: "list"
                summary: "{{fields.image}}"
                fields:
                  - label: "Image"
                    name: "image"
                    widget: "image"
                    choose_url: false # Force l'upload pour éviter les erreurs
                hint: "⚠️ IMPORTANT : La toute première photo de la liste servira de miniature dans la liste à gauche !"